<form action="<%= comments_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden"
         name="comment[commentable_id]"
         value="<%= source.id %>">
  <input type="hidden"
         name="post_id"
         value="<%= post_id %>">
  <input type="hidden"
         name="comment[commentable_type]"
         value="<%= source.class.name %>">
  <div class="form-group">
     <label for="comment[body]">Comment</label>
     <textarea name="comment[body]" rows="2" class='form-control'><%= @comment.body %></textarea>
  </div>

  <input type="submit" class='btn btn-success'>
</form>
