<% action_url = sub.persisted? ? sub_url(sub) : subs_url %>
<% action_method = sub.persisted? ? "PATCH" : "POST" %>
<form action="<%= action_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>" >
   <input type="hidden" name="_method" value="<%= action_method%>">
<div class="form-group">
   <label for='title'>Title</label>
   <input type="text" name="sub[title]"
         value="<%= @sub.title %>" id='title'
         class='form-control'>
</div>
<div class="form-group">
   <label for='description'>Description</label>
   <textarea name="sub[description]" rows="10"
         id='description' class='form-control'><%= @sub.description %></textarea>
</div>

   <% if is_super_admin? || action_method == "POST" %>
   <label>Set the moderator(s)</label>
      <div class="form-group row">
         <input type="hidden" name="sub[moderator_ids][]" value="">

         <% User.all.each do |user| %>
         <div class="form-group col-md-2">
            <label for="<%= user.id %>"><%= user.username %></label>
            <input type="checkbox" name="sub[moderator_ids][]"
                  id='<%= user.id %>' class='form-control'
                  value="<%= user.id%>"
                  <%= "checked" if @sub.moderator_ids.include?(user.id) %>>
         </div>
         <% end %>
      </div>
   <% end %>
  <input type="submit" class='btn btn-success'>
</form>
