<div class='post-list'>
  <% sub.posts.each do |post| %>
     <div class='each-post-detail'>
        <span class='vote'>
           <%= link_to "", up_vote_post_url(post), class: "glyphicon glyphicon-triangle-top score"%>
           <p class='score score-count'><%= post.count %></p>
           <%= link_to "", down_vote_post_url(post), class: "glyphicon glyphicon-triangle-bottom score"%>
        </span>

        <li>
           <% unless post.url == "" %>
              <%= link_to post.title, post.url, class: 'post-title' %>
              <span>(external link)</span>
           <% else %>
              <%= link_to post.title, post_url(post), class: 'post-title'%>
           <% end %>
        </li>
        <li class='post-detail'>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.author.username %></li>
        <%= link_to "#{post.comments.count} Comments", post_url(post), class: 'post-detail' %>
     </div>
  <% end %>
</div>
